<!-- <div class="category-banner mb-4">
  <div class="container h-100">
    <div class="d-flex justify-content-between align-items-center h-100">
      <div class="left">
        <div class="bredcrumb">
          <a href="#">Home</a> > <a routerLink="['info']">Information Centre</a> > <a routerLink="['bullion-weight-calculator']">Bullion Weight Calculator</a>
        </div>
        <h2 class="category-name">Bullion Weight Calculator</h2>
      </div>
      <div class="right h-100">
        <figure>
          <img class="category-img mx-5" src="../../../../assets/images/dashboad-icon.png" alt="" />
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div>-->
<!-- <h1>Bullion Weight Calculator</h1> -->

<!-- <p>Calculate the 'cut-to-size' weight of a specific alloy.</p>

    <p>
      Please note that all given weights, sizes and calculations are for
      guidance only.
    </p>
    <div class="account-forms edit-account-forms pb-5 pt-2">

      <div class="form-fields-cotainer">
        <form [formGroup]="form">
          <div class="form-fields">
            <div class="row">
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Type</label>
                  <select class="form-select" formControlName="type">
                    <option value="">Select Type</option>
                    <option value="Sheet">Sheet</option>
                    <option value="round wire">Round Wire</option>
                    <option value="square">Square</option>
                    <option value="d shape wire">D Shape Wire</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Alloy</label>
                  <select class="form-select" [(ngModel)]="selectedAlloy" (change)="filterTable()">
                    <option *ngFor="let item of alloyData" [value]="item.value">
                      {{ item.label }}
                    </option>
                    <option value="all">Show All Alloys</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Length</label>
                  <div class="d-flex">
                    <input class="form-control w-75" type="number" formControlName="lengthValue" />
                    <select class="form-select w-25" formControlName="lengthUnit">
                      <option value="cm">cm</option>
                      <option value="meter">meter</option>
                      <option value="mm">mm</option>
                      <option value="inches">inches</option>
                      <option value="feet">feet</option>
                      <option value="yard">yard</option>
                    </select>
                  </div>
                </div>
              </div>
           
            
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Width</label>
                  <div class="d-flex">
                    <input class="form-control w-70" type="number" formControlName="width" />
                    <select class="form-select w-25" formControlName="widthUnit">
                      <option value="cm">cm</option>
                      <option value="meter">meter</option>
                      <option value="mm">mm</option>
                      <option value="inches">inches</option>
                      <option value="feet">feet</option>
                      <option value="yard">yard</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Gauge</label>
                  <div class="d-flex">
                    <input class="form-control w-70" type="number" formControlName="gauge" />
                    <select class="form-select w-25" formControlName="gaugeUnit">
                      <option value="cm">cm</option>
                      <option value="meter">meter</option>
                      <option value="mm">mm</option>
                      <option value="inches">inches</option>
                      <option value="feet">feet</option>
                      <option value="yard">yard</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Weight</label>
                  <input class="form-control" type="text" formControlName="weight" [disabled]="true" />
                </div>
              </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="category-banner mb-4">
  <div class="container h-100">
    <div class="d-flex justify-content-between align-items-center h-100">
      <div class="left">
        <div class="bredcrumb">
          <!-- <a href="#">Home</a> > <a routerLink="['info']">Information Centre</a> > <a routerLink="['bullion-weight-calculator']">Bullion Weight Calculator</a> -->
          <a routerLink="/">Home</a> >
          <a routerLink="/info">Information Centre</a> >
          <a routerLink="['bullion-weight-calculator']">Bullion Weight Calculator</a>
        </div>
        <h2 class="category-name">Bullion Weight Calculator</h2>
      </div>
      <div class="right h-100">
        <figure>
          <img class="category-img mx-5" src="../../../../assets/images/dashboad-icon.png" alt="" />
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <!-- <h1>Bullion Weight Calculator</h1> -->

    <p>Calculate the 'cut-to-size' weight of a specific alloy.</p>

    <p>
      Please note that all given weights, sizes and calculations are for
      guidance only.
    </p>
    <div class="account-forms edit-account-forms pb-5 pt-2">

      <div class="form-fields-cotainer">
        <form [formGroup]="form">
          <div class="form-fields">
            <div class="row">
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Type</label>
                  <select class="form-select" formControlName="type"
                    (change)="filterTable(selectedMetalType); calculateWeight()">
                    <option value="">Select Type</option>
                    <ng-container *ngFor="let subcategoryName of bullionSubcategoriesNames">
                      <option [value]="subcategoryName">{{ subcategoryName }}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Alloy</label>
                  <select class="form-select" formControlName="alloy" [(ngModel)]="selectedMetalType"
                    (change)="filterTable(selectedMetalType)">
                    <option value="all">Select Alloy</option>
                    <option *ngFor="let metalType of metalTypes" [value]="metalType.stockDescription">
                      {{ metalType.stockDescription }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Length</label>
                  <div class="d-flex">
                    <input class="form-control w-75" type="number" formControlName="lengthValue" placeholder="0.0" />
                    <select class="form-select w-25" formControlName="lengthUnit">
                      <option value="1" selected>cm</option>
                      <option value="100">meter</option>
                      <option value="0.1">mm</option>
                      <option value="25.4">inches</option>
                      <option value="30.48">feet</option>
                      <option value="91.44">yard</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xl-4" *ngIf="isDShapeWireOrSheetSelected()">
                <div class="form-group mb-4">
                  <label>Width</label>
                  <div class="d-flex">
                    <input class="form-control w-70" type="number" formControlName="width" placeholder="0.0" />
                    <select class="form-select w-25" formControlName="widthUnit">
                      <option value="1" selected>cm</option>
                      <option value="100">meter</option>
                      <option value="0.1">mm</option>
                      <option value="25.4">inches</option>
                      <option value="30.48">feet</option>
                      <option value="91.44">yard</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Gauge</label>
                  <div class="d-flex">
                    <input class="form-control w-70" type="number" formControlName="gauge" placeholder="0.0" />
                    <select class="form-select w-25" formControlName="gaugeUnit">
                      <option value="1" selected>cm</option>
                      <option value="100">meter</option>
                      <option value="0.1">mm</option>
                      <option value="25.4">inches</option>
                      <option value="30.48">feet</option>
                      <option value="91.44">yard</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="form-group mb-4">
                  <label>Weight</label>
                  <input class="form-control" type="text" formControlName="weight" [disabled]="true" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>