/* Header */

header {
  background: $maximum-purple-color;

  .mat-toolbar {
    height: auto !important;
    background: transparent;
    white-space: normal;

    &.top-bar {
      background: $russian-violet-color;
      color: $white-color;
      font-family: $base-font;

      .top-links {
        padding: 0.3125rem 0;

        ul {
          li {
            margin: 0;

            a {
              color: $languid-lavender-color;
              font-size: $font-size-xl-regular;
              text-decoration: none;
              padding: 0 0.75rem 0 0;
              margin: 0 0.75rem 0 0;
              border-right: solid 0.0625rem $purple-mountain-majesty-color;
              font-weight: $font-regular;

              @media (max-width: $break-medium) {
                font-size: $font-size-regular;
              }

              i {
                margin: 0 0.1875rem 0 0;
                font-size: $font-size-lg-small;
                color: rgba($color: $white-color, $alpha: 0.65);
              }

              &:hover {
                color: $white-color;
              }
            }

            &:last-child {
              a {
                border: none;
                padding: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }

    &.headertop {
      padding: 1rem;
      border-bottom: solid 0.0625rem $deep-amethyst-color;
    }

    &.top-footer-box {
      background: $cultured-color;
      // border-top: solid 0.0625rem $bright-gray-color;
      border-bottom: solid 0.0625rem $gainsborox-color;
      padding: 0.65rem;
      margin: 0 0 1rem;
      font-size: $font-size-xl-medium;

      i {
        color: $spanish-gray-color;
      }

      @media (max-width: $break-large) {
        font-size: $font-size-xl-medium;

        @media (max-width: $break-medium) {
          font-size: $font-size-medium;
        }
      }

    }

    &.sm-menu {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    }
  }

  .container {
    @media (max-width: $break-medium) {
      max-width: $full-width;
    }
  }
}

.headertop {
  border-bottom: solid 0.0625 $deep-amethyst-color;

  #{&}-left {
    flex: 0 0 33.33%;

    .input-group {
      max-width: 15.625rem;

      .form-control {
        border-right: none;
      }

      .input-group-text {
        background: $white-color;
        border-left: none;
        color: $granite-gray-color;
        padding: 0.3125;
      }
    }

    @media (max-width:$break-tablet) {
      flex: 0 0 40%;
    }
  }

  #{&}-middel {
    flex: 0 0 33.33%;

    @media (max-width:$break-tablet) {
      flex: 0 0 20%;
    }
  }

  #{&}-right {
    flex: 0 0 33.33%;
    display: flex;
    justify-content: end;

    & .headertop-links {
      ul {
        li {
          margin: 0 0.625rem;

          a {
            color: $white-color;
            text-align: center;
            font-size: $font-size-medium;
            text-decoration: none;
            font-weight: $font-medium;

            @media (max-width: $break-medium) {
              font-size: $font-size-regular;
            }

            &:hover {
              color: $pastel-orange-color;
            }

            span {
              display: block;
              color: $white-color;
              margin-bottom: -0.3125rem;

              i {
                font-size: $font-size-medium;
              }
            }

            .flag-img {
              margin-bottom: -0.3125rem;
            }

          }

          &:last-child {
            margin-right: 0;
          }

          &.cart-items {
            span {
              position: relative;

              .count {
                position: absolute;
                top: 0;
                right: 0;
                width: 1rem;
                height: 1rem;
                background: $orange-color;
                font-size: $font-size-small - 0.125rem;
                line-height: 1.0625rem;
                text-align: center;
                @include border-radius(100%);
                color: $black-color;
              }
            }
          }

          @media (max-width: $break-ipad) {
            margin: 0 0.75rem;

            @media (max-width:$break-tablet) {
              margin: 0 0.5rem;
            }
          }
        }
      }
    }

    @media (max-width:$break-tablet) {
      flex: 0 0 40%;
    }
  }

}

/* navbar */
.navbar {
  display: flex;
  justify-content: center !important;
  padding: 1rem !important;

  .menu-item-container {
    flex: 0 0 16%;
    justify-content: start !important;

    &:nth-child(6n+0) {
      flex: 0 0 8%;
    }

    button {
      &.menu-items {
        color: $white-color;
        justify-content: start !important;
        font-size: $font-size-xl-medium;
        font-weight: $font-medium;
        white-space: nowrap;
        padding: 0;

        i {
          font-size: $font-size-small;
          color: $grayX11-color;
        }

        &:hover {
          color: $pastel-orange-color;
          background: transparent !important;
        }

        .mat-mdc-button-persistent-ripple {
          display: none;
        }

        @media (max-width: $break-medium) {
          font-size: $font-size-regular;
          padding: 0;
        }
      }
    }
  }
}

.mat-mdc-menu-panel {
  &.customClass {
    display: flex;
    width: auto;
    max-width: $full-width !important;
    flex: 0 0 auto !important;
    @include border-radius(0 0 0.5rem 0.5rem);

    .mat-mdc-menu-content {
      display: flex;
      background: $white-color;
      border-top: solid 0.1875rem $orange-color;
      padding-bottom: 1rem;

      .sub-menu-items-cotainer {
        display: flex;

        .sub-menu-items {
          display: block;
          margin: 0 0.625rem;

          .subitem-heading {
            color: $maximum-purple-color;
            font-size: 1rem;
            font-weight: $font-semibold;
            height: auto;
            min-height: 0.625rem;
            padding: 0.5rem 1rem 0.5rem;
            background: transparent;

            span {
              color: $maximum-purple-color;
              font-size: $font-size-medium;
              font-weight: $font-medium;
            }
          }

          ul {

            li {
              padding: 0.1875rem 1rem;

              a {
                color: $black-color;
                text-decoration: none;
                font-size: $font-size-xl-regular;
                font-weight: $font-regular;

                &:hover {
                  color: $pastel-orange-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* navbar /end */

/* top-right */

.languaged-drodown {
  padding: 0;
  margin: 0;
  height: auto;
  width: 3.125rem;

  * {
    min-height: 0.625rem;
    margin: 0 !important;
    padding: 0 !important;
  }
}


.toggle-menu {
  background: rgba($black-color, $alpha: 0.8) !important;
  padding: 0.1875rem 0.625rem !important;
  margin: 0;
  border-radius: 0 !important;
  width: auto !important;
  height: 1.875rem !important;
  color: $white-color !important;
}

.cuntry-dropdown {
  min-width: 120px;
  padding: 0 !important;
  background: $white-color;
  border-top: solid 0.1875rem $orange-color;

  .mat-mdc-option {
    min-height: 1.75rem;
    color: $black-color;
    text-decoration: none;
    font-size: 0.9375rem;
    padding: 0 0.5rem;
    font-weight: $font-regular;

    .mat-mdc-option-active {
      color: $black-color !important;

      span {
        color: $black-color !important;
      }

    }

    .mat-pseudo-checkbox-minimal::after {
      color: $ao-english-color !important;
    }
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: $black-color !important;
  }
}


.select-dropdown {
  text-align: center;
  color: $white-color;
  width: auto !important;
  font-size: $font-size-medium !important;
  font-weight: $font-medium !important;

  .mat-mdc-select-trigger {
    color: $white-color;

    .mat-mdc-select-arrow {
      color: $white-color;
      margin-left: 0.25rem;
    }

    svg {
      fill: $white-color !important;
    }
  }

  @media (max-width:1199px) {
    font-size: $font-size-regular !important;
  }
}

/* top-right /end */

/* mobile-nabar-menu */

.mat-mdc-menu-panel {
  &.customClass {
    display: flex;
    width: auto;
    max-width: $full-width !important;
    flex: 0 0 auto !important;
    @include border-radius(0 0 0.5rem 0.5rem);

    .mat-mdc-menu-content {
      display: flex;
      background: $white-color;
      border-top: solid 0.1875rem $orange-color;
      padding-bottom: 1rem;

      .sub-menu-items-cotainer {
        display: flex;

        .sub-menu-items {
          display: block;
          margin: 0 0.625rem;

          .subitem-hediing {
            color: $maximum-purple-color;
            font-size: $font-size-medium;
            font-weight: $font-semibold;
            height: auto;
            min-height: 0.625rem;
            padding: 0.5rem 1rem 0.5rem;
            background: transparent;

            span {
              color: $maximum-purple-color;
              font-size: $font-size-medium;
              font-weight: $font-medium;
            }
          }

          ul {

            li {
              padding: 0.1875 1rem;

              a {
                color: $black-color;
                text-decoration: none;
                font-size: $font-size-xl-regular;
                font-weight: $font-regular;

                &:hover {
                  color: $pastel-orange-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: $full-width !important;
  height: $full-height !important;
  @include transition(all 0.1s ease-in-out);
  min-width: 0 !important;
  margin-left: -100% !important;
  z-index: 5 !important;

  * {
    transition: none !important;
    transform: none !important;
    color: $white-color !important;
  }
}

.mat-drawer-container-has-open {
  width: $full-width !important;
  @include transition(all 0.1s ease-in-out);
  margin-left: 0 !important;
  // background: rgba($black-color, $alpha: 0.2) !important;
}

.mat-drawer-backdrop {
  &.mat-drawer-shown {
    background: transparent !important;
    display: none !important;
  }
}

.mat-drawer-container {
  background: rgba($american-purple-color, $alpha: 0.9) !important;
}

.cdk-visually-hidden {
  display: none !important;
}

.mat-drawer {
  width: $full-width;
  background: transparent !important;
}

.example-accordion-item-header {
  padding: 0.5rem 0;
  border-bottom: solid 0.0625rem $primary-color !important;
  margin: 0 0.9375rem;
  font-size: $font-size-xl-medium;
}

.menu-item-container-mobile {
  a {
    padding: 0.625rem 1rem 1.75rem 0.625rem;
    width: auto;
    justify-content: start;
    border-bottom: solid 0.0625rem rgba($white-color, $alpha: 0.2);
    margin: 0 1rem;
    flex: 0 0 auto;
    display: block;

  }

}


a.close-btn {
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
  width: auto !important;
  font-size: 1.875rem;
  z-index: 2;

}

/* mobile-nabar-menu  /end */

/* stiky-container */

.stiky-container {
  position: absolute;
  top: 80%;
  right: 0;
 // z-index: 999; 
  z-index: 4; 
  overflow: hidden;
  height: 6.875rem;
  
  span{
    display: inline-block;
    width: 2.625rem;
  }
}
.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
}
.whats-up {
  height: 2.6875rem;
  background: $american-green-color;
  color: $white-color;
font-size: $font-size-xl-medium;
font-weight: $font-medium;
line-height: normal;
@include box-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
padding: 0 1rem;
align-items: center;
@include border-radius(6.25rem 0 0 6.25rem);
cursor: pointer;
position: relative;
right: -6.875rem;
transition: all 0.3s ease-in-out;
&:hover {
  right: 0;
}
}
.contact {
  height: 2.625rem;
  background: $maximum-purple-color;
  color: $white-color;
font-size: $font-size-xl-medium;
font-weight: $font-medium;
line-height: normal;
@include box-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
padding: 0 1rem;
align-items: center;
@include border-radius(6.25rem 0 0 6.25rem);
cursor: pointer;
position: relative;
right: -6.875rem;
transition: all 0.3s ease-in-out;
i {
  font-size: $font-size-large;
  margin: 0 0.75rem 0 0;
}

&:hover {
  right: 0;
}
}
/* stiky-container /end*/

 /* loader css */
 .leader-main {
  position: fixed;
  width: $full-width;
  height: $full-height;
  background: rgba($black-color, $alpha: 0.9) ;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: 9.25rem
  }
}

.loader-animation {
  position: relative;
  width: 9.25rem;
  height: 2.625rem;
}

/* loader css end */

.loader-animation .back {
  background: url(../images/loader.png) no-repeat 0 0;
  width: 9.25rem;
  height: 2.625rem;
  position: absolute;
  top: 0;
  left: 0;
}

.loader-animation .front {
  background: url(../images/loader-fill.png) no-repeat 0 0;
  width: 0;
  height: 2.625rem;
  position: absolute;
  top: 0;
  left: 0;
  animation: progressBar 4s ease-in-out;
  animation-iteration-count: infinite;
}

.login-link {
  cursor: pointer;
}

/* info-icon-box */
.info-icon-box {
  background: url(../images/svg-icons/info-icon.svg) no-repeat center center;
  width: 5rem;
  height: 5rem;
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 9;
  &:hover {
    background: url(../images/svg-icons/info-hover-icon.svg) no-repeat center center;
  }
}
/* Header /end */