/* Font */
$base-font: Roboto;

/* font weight */
$font-light: 300;

$font-regular: 400;

$font-medium: 500;

$font-semibold: 600;

$font-bold: 700;

$font-extra-bold: 900;

/* font-size */
$font-size-product-title: 1.75rem;
/* 28px */

$font-size-xxl-large: 1.625rem;
/* 26px */

$font-size-xl-large: 1.5rem;
/* 24px */

$font-size-large: 1.25rem;
/* 20px */

$font-size-xl-medium: 1.125rem;
/* 18px */

$font-size-l-medium: 1.0625rem;
/* 17px */

$font-size-medium: 1rem;
/* 16px */

$font-size-xl-regular: 0.9375rem;
/* 15px */

$font-size-regular: 0.875rem;
/* 14px */

$font-size-lg-small: 0.8125rem;
/* 13px */

$font-size-small: 0.75rem;
/* 12px */

/* colors */
$black-color: #000;

$primary-color: #c20839;

$primary-variant: #003a7c;

$secondary-color: #455660;

$secondary-variant: #c20839;

$white-color: #fff;

$success-color: #00a300;

$danger-color: #f66358;

/* Resource planning colors */

$orange-color: #ffa500 ;

$pastel-orange-color: #fbb845;

$light-dark-pastel-orange-color: #f9b545;

$american-yellow-color: #f7ba01;

$golden-brown-color: #9f6a0f;

$rajah-color: #ffbd5c;

$mustard-brown-color: #ce7a00;

$naples-yellow-color: #f5d357;

$maximum-purple-color: #733a77;

$french-lilac-color: #89588c;

$purple-mountain-majesty-color: #a372a7;

$deep-amethyst-color: #a080a2;

$opera-mauve-color: #ab83ae;

$american-green-color: #2db63f;

$grullo-color: #a69292;

$purple-taupe-color: #524343;

$cultured-color: #f5f7f9;

$outer-space-color: #444444;

$dark-liver-color: #4e4e4e;

$bright-gray-color: #e9eaeb;

$boder-bright-gray-color: #ebebeb;

$light-dark-bright-gray: #ededed;

$pink-bright-gray: #ebe5eb;

$spanish-gray-color: #9a9a9a;

$languid-lavender-color: #dbcfdc;

$cultured-color: #f5f5f5;

$lotion-color: #fbfbfb;

$gainsboro-color: #dddddd;

$gainsborox-color: #dedede;

$granite-gray-color: #666666;

$platinum-color: #e3e3e3;

$cosmic-latte: #fef8e6;

$gray-color: #808080;

$light-dark-gray-color: #7c7c7c;

$grayX11-color: #bdbdbd;

$taupe-gray-color: #898989;

$charleston-green-color: #282828;

$davys-grey-color: #555555;

$chinese-silver-color: #cccccc;

$dark-chinese-silver-color: #c8c8c8;

$sandstorm-color: #e7d63f;

$pearly-purple-color: #a870ac;

$transparent: transparent;

$maximum-red-color: #de1f1f;

$azureish-white-color: #d9edf7;

$pale-blue-color: #bce8f1;

$teal-blue-color: #31708f;

$anti-flash-white: #f5e7f6;

$thistle-color: #d0bcd2;

$beige-color: #f5f0dd;

$mellow-apricot-color: #edc274;

$electric-red-color: #df0000;

$russian-violet-color: #410045;

$ao-english-color: #008000;

$american-purple-color: #452347;

$japanese-violet-color: #523454;

$deep-amethyst-color: #9e8a9f;

/* width */
$full-width: 100%;

/* height */
$full-height: 100%;

$full-vh-height : 100vh;

/* Responsive */
$break-extra-large: 1400px;

$break-large: 1280px;

$break-medium: 1199px;

//$break-below-medium: 1024px;

$break-ipad: 1024px;

$above-ipad: 1025px;

$break-tablet: 991px;

$break-mobile: 767px;

$break-small: 576px;

$break-extra-small: 390px;
