<div class="category-banner mb-4">
    <div class="container h-100">
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="left">
                <div class="bredcrumb">
                    <a href="#">Home</a> > <a (click)="openInfoPopup()">Information Center</a> > <span>Measurement Conversions</span>
                </div>
                <h2 class="category-name">Measurement Conversions</h2>
            </div>
            <div class="right h-100">
                <figure>
                    <img class="category-img mx-5" src="../../../../assets/images/svg-icons/sheet-data-icon.svg"
                        alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="info-data-container-whitout-rowspan mb-0">
    <div class="container">
        <div>
            <h3><span>Measurement:</span> Conversion Table</h3>
            <div class="table-responsive-outer">
                <div class="table-responsive">
                    <div>
                        <table border="1" class="table align-middle table-bordered">
                            <thead>
                                <tr class="top-th">
                                    <th rowspan="2" class="text-center valign-top">Convert</th>
                                    <th>To</th>
                                    <th>Multiply By</th>
                                    <th>Reciprocal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ounces Troy</td>
                                    <td>Grammes</td>
                                    <td>31.1035</td>
                                    <td>0.03215</td>
                                </tr>
                                <tr>
                                    <td>Inches</td>
                                    <td>Millimeters</td>
                                    <td>25.4</td>
                                    <td>0.03937</td>
                                </tr>
                                <tr>
                                    <td>Inches</td>
                                    <td>Centimeters</td>
                                    <td>2.54</td>
                                    <td>0.3937</td>
                                </tr>
                                <tr>
                                    <td>Inches</td>
                                    <td>Meters</td>
                                    <td>0.0254</td>
                                    <td>39.37</td>
                                </tr>
                                <tr>
                                    <td>Feet</td>
                                    <td>Meters</td>
                                    <td>0.3048</td>
                                    <td>3.28084</td>
                                </tr>
                                <tr>
                                    <td>Inch²</td>
                                    <td>Millimeter²</td>
                                    <td>645.16</td>
                                    <td>0.00155</td>
                                </tr>
                                <tr>
                                    <td>Inch²</td>
                                    <td>Centimeter²</td>
                                    <td>6.4516</td>
                                    <td>0.1550</td>
                                </tr>
                                <tr>
                                    <td>Inch³</td>
                                    <td>Centimeter³</td>
                                    <td>16.3871</td>
                                    <td>0.061024</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align: center;">To make a conversion in the opposite
                                        direction, multiply by the reciprocal.</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align: center;">For example, to convert from grammes to
                                        ounces, multiply by 0.03215.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="info-data-container">
    <div class="container">
        <div>
            <h3><span>Comparative:</span> Weights Table</h3>
            <div class="table-responsive-outer">
                <div class="table-responsive">
                    <div>
                        <table border="1" class="table align-middle table-bordered">
                            <thead>
                                <tr class="top-th">
                                    <th rowspan="2" class="text-center valign-top">Metal Standards</th>
                                    <th>Pure Plat.</th>
                                    <th>Fine Gold</th>
                                    <th>22ct Yellow</th>
                                    <th>18ct White</th>
                                    <th>18ct Yellow</th>
                                    <th>14ct Yellow</th>
                                    <th>9ct Yellow</th>
                                    <th>Std. Silver</th>
                                    <th>Copper</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pure Platinum</td>
                                    <td>1.00</td>
                                    <td>0.90</td>
                                    <td>0.83</td>
                                    <td>0.75</td>
                                    <td>0.72</td>
                                    <td>0.64</td>
                                    <td>0.52</td>
                                    <td>0.48</td>
                                    <td>0.42</td>
                                </tr>
                                <tr>
                                    <td>Fine Gold</td>
                                    <td>1.11</td>
                                    <td>1.00</td>
                                    <td>0.92</td>
                                    <td>0.83</td>
                                    <td>0.80</td>
                                    <td>0.72</td>
                                    <td>0.58</td>
                                    <td>0.53</td>
                                    <td>0.47</td>
                                </tr>
                                <tr>
                                    <td>22ct Yellow</td>
                                    <td>1.21</td>
                                    <td>1.08</td>
                                    <td>1.00</td>
                                    <td>0.90</td>
                                    <td>0.87</td>
                                    <td>0.78</td>
                                    <td>0.63</td>
                                    <td>0.58</td>
                                    <td>0.50</td>
                                </tr>
                                <tr>
                                    <td>18ct White</td>
                                    <td>1.33</td>
                                    <td>1.20</td>
                                    <td>1.10</td>
                                    <td>1.00</td>
                                    <td>0.96</td>
                                    <td>0.86</td>
                                    <td>0.70</td>
                                    <td>0.64</td>
                                    <td>0.56</td>
                                </tr>
                                <tr>
                                    <td>18ct Yellow</td>
                                    <td>1.38</td>
                                    <td>1.25</td>
                                    <td>1.15</td>
                                    <td>1.04</td>
                                    <td>1.00</td>
                                    <td>0.89</td>
                                    <td>0.72</td>
                                    <td>0.66</td>
                                    <td>0.58</td>
                                </tr>
                                <tr>
                                    <td>14ct Yellow</td>
                                    <td>1.55</td>
                                    <td>1.40</td>
                                    <td>1.29</td>
                                    <td>1.17</td>
                                    <td>1.12</td>
                                    <td>1.00</td>
                                    <td>0.81</td>
                                    <td>0.75</td>
                                    <td>0.65</td>
                                </tr>
                                <tr>
                                    <td>9ct Yellow</td>
                                    <td>1.91</td>
                                    <td>1.72</td>
                                    <td>1.59</td>
                                    <td>1.44</td>
                                    <td>1.38</td>
                                    <td>1.23</td>
                                    <td>1.00</td>
                                    <td>0.92</td>
                                    <td>0.80</td>
                                </tr>
                                <tr>
                                    <td>Std. Silver</td>
                                    <td>2.08</td>
                                    <td>1.87</td>
                                    <td>1.73</td>
                                    <td>1.56</td>
                                    <td>1.50</td>
                                    <td>1.33</td>
                                    <td>1.09</td>
                                    <td>1.00</td>
                                    <td>0.87</td>
                                </tr>
                                <tr>
                                    <td>Copper</td>
                                    <td>2.38</td>
                                    <td>2.14</td>
                                    <td>1.98</td>
                                    <td>1.80</td>
                                    <td>1.73</td>
                                    <td>1.53</td>
                                    <td>1.24</td>
                                    <td>1.14</td>
                                    <td>1.00</td>
                                </tr>
                                <tr>
                                    <td colspan="10" style="text-align: center;">To calculate the approximate weight
                                        of an article
                                        in other metal standards, select the metal standard of the known article in
                                        the
                                        left-hand column and read across the chart to apply the factor by which the
                                        weight must
                                        be multiplied.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="product-notes">
                <p class="m-0"><strong>Note:</strong> that all given weights, sizes and calculations are for
                    guidance
                    only.
                </p>
            </div>
        </div>
    </div>
</div>    

