<div class="category-banner mb-4">
    <div class="container h-100">
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="left">
                <div class="bredcrumb">
                    <a href="#">Home</a> > <span>Stone Sizes Measurements</span>
                </div>
                <h2 class="category-name">Stone Sizes Measurements</h2>
            </div>
            <div class="right h-100">
                <figure>
                    <img class="category-img mx-5" src="../../../../assets/images/svg-icons/sheet-data-icon.svg"
                        alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="info-data-container">
    <div class="container">
        <div>
            <h3><span>Stone:</span> Sizes Measurements</h3>
            <div class="table-responsive-outer">
                <div class="table-responsive">
                    <table border="1" class="table align-middle table-bordered">
                        <thead>
                            <tr class="top-th">
                                <th>Shape</th>
                                <th>Estimated Diamond Carat <br> Weight to mm Dimensions</th>
                                <th>0.05ct.</th>
                                <th>0.10ct.</th>
                                <th>0.15ct.</th>
                                <th>0.25ct.</th>
                                <th>0.33ct.</th>
                                <th>0.50ct.</th>
                                <th>0.63ct.</th>
                                <th>0.75ct.</th>
                                <th>1.00ct.</th>
                                <th>1.25ct.</th>
                                <th>1.50ct.</th>
                                <th>1.75ct.</th>
                                <th>2.00ct.</th>
                                <th>2.50ct.</th>
                                <th>3.00ct.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Brilliant</td>
                                <td>2.25</td>
                                <td>3.0</td>
                                <td>3.5</td>
                                <td>4.0</td>
                                <td>4.25</td>
                                <td>5.0</td>
                                <td>5.5</td>
                                <td>6.0</td>
                                <td>6.5</td>
                                <td>7.0</td>
                                <td>7.5</td>
                                <td>7.75</td>
                                <td>8.0</td>
                                <td>8.75</td>
                                <td>9.5</td>
                            </tr>
                            <tr>
                                <td>Princess</td>
                                <td>2.0</td>
                                <td>2.5</td>
                                <td>3.0</td>
                                <td>3.75</td>
                                <td>4.25</td>
                                <td>4.75</td>
                                <td>5.0</td>
                                <td>5.25</td>
                                <td>5.5</td>
                                <td>6.0</td>
                                <td>6.75</td>
                                <td>7.25</td>
                                <td>7.5</td>
                                <td>8.0</td>
                                <td>8.5</td>
                            </tr>
                            <tr>
                                <td>Oval</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>5x3</td>
                                <td>5x4</td>
                                <td>6x4</td>
                                <td>-</td>
                                <td>7x5</td>
                                <td>-</td>
                                <td>8x6</td>
                                <td>-</td>
                                <td>-</td>
                                <td>9x7</td>
                                <td>-</td>
                                <td>10x8</td>
                            </tr>
                            <!-- ... -->
                            <tr>
                                <td>Emerald</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>5x3</td>
                                <td>5x4</td>
                                <td>6x4</td>
                                <td>-</td>
                                <td>6x5</td>
                                <td>7x5</td>
                                <td>7x6</td>
                                <td>8x6</td>
                                <td>-</td>
                                <td>-</td>
                                <td>9x7</td>
                                <td>10x8</td>
                            </tr>
                            <tr>
                                <td>Asscher</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>3.5</td>
                                <td>4.0</td>
                                <td>4.5</td>
                                <td>4.75</td>
                                <td>5.0</td>
                                <td>5.5</td>
                                <td>6.0</td>
                                <td>6.5</td>
                                <td>7.0</td>
                                <td>7.5</td>
                                <td>8.0</td>
                                <td>8.5</td>
                            </tr>
                            <tr>
                                <td>Marquise</td>
                                <td>-</td>
                                <td>4x2</td>
                                <td>4x2.5</td>
                                <td>5x3</td>
                                <td>6x3.5</td>
                                <td>8x4</td>
                                <td>8x4.5</td>
                                <td>9x4.5</td>
                                <td>-</td>
                                <td>10x5</td>
                                <td>-</td>
                                <td>11x6</td>
                                <td>12x6</td>
                                <td>13x6.5</td>
                                <td>14x7</td>
                            </tr>
                            <tr>
                                <td>Pear</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>4x3</td>
                                <td>5x3</td>
                                <td>6x4</td>
                                <td>-</td>
                                <td>7x5</td>
                                <td>8x6</td>
                                <td>-</td>
                                <td>9x6</td>
                                <td>9x7</td>
                                <td>10x7</td>
                                <td>10x8</td>
                                <td>12x8</td>
                            </tr>
                            <tr>
                                <td>Heart</td>
                                <td>2.25</td>
                                <td>3.0</td>
                                <td>3.5</td>
                                <td>4.0</td>
                                <td>4.5</td>
                                <td>5.0</td>
                                <td>5.5</td>
                                <td>6.0</td>
                                <td>6.5</td>
                                <td>6.75</td>
                                <td>7.0</td>
                                <td>7.5</td>
                                <td>8.0</td>
                                <td>8.5</td>
                                <td>9.0</td>
                            </tr>
                            <tr>
                                <td>Trillion</td>
                                <td>-</td>
                                <td>3.0</td>
                                <td>4.0</td>
                                <td>5.0</td>
                                <td>6.0</td>
                                <td>7.0</td>
                                <td>-</td>
                                <td>-</td>
                                <td>8.0</td>
                                <td>-</td>
                                <td>9.0</td>
                                <td>-</td>
                                <td>10.0</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Triangular</td>
                                <td>-</td>
                                <td>3.0</td>
                                <td>4.0</td>
                                <td>5.0</td>
                                <td>6.0</td>
                                <td>7.0</td>
                                <td>-</td>
                                <td>-</td>
                                <td>8.0</td>
                                <td>-</td>
                                <td>9.0</td>
                                <td>-</td>
                                <td>10.0</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="product-notes">
                <p class="m-0"><strong>Note:</strong> that all given weights, sizes and calculations are for guidance
                    only.
                </p>
            </div>
        </div>
    </div>
</div>