<mat-toolbar class="headertop">
  <div class="container">
    <div class="d-flex w-100 justify-content-between align-items-center">
      <div class="headertop-left d-none d-md-inline">
        <div class="serach-box">
          <div class="input-group">
<!-- 
              <h1 href="index.html">Medico Imaging Services</h1> -->
            <span class="input-group-text" id="input-group-right-example">
              <h1 href="index.html">Medico Imaging Services</h1>
            </span>
          </div>
        </div>
      </div>
      <div class="headertop-middel">
        <div class="logo justify-content-center text-center">
          <!-- <figure class="m-0">
            <a href="index.html"><img src="assets/images/logo.png" alt="All About Euro" class="img-fluid" /></a>
          </figure> -->
          <!-- <h1 href="index.html">Medico Imaging Services</h1> -->
        </div>
      </div>
      <div class="headertop-right">
        <div class="headertop-links">
         
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
<!-- menu-bar -->
<div class="container" *ngIf="viewMode === 'desktop'">
  <div class="container" *ngIf="categories.length > 0">
    <mat-toolbar class="navbar sm-menu">
      <ng-container *ngFor="let category of categories.slice(0, 12)">
        <div class="menu-item-container">
          <button class="menu-items" mat-button [matMenuTriggerFor]="categoryMenu">{{ category.categoryName }} <i
              class="fa-solid fa-angle-down"></i></button>
          <mat-menu #categoryMenu="matMenu" yPosition="below" class="customClass">
            <div class="sub-menu-items-container" *ngIf="category">
              <ng-container *ngFor="let subcategory of category.subcategories">
                <div class="sub-menu-items"
                  [routerLink]="['/products', category.categoryCode.trim(), subcategory.subcategoryCode.trim()]">
                  <div mat-menu-item class="subitem-heading">
                    <ul class="subitem-list p-0 m-0">
                      <li>
                        <span> - {{ subcategory.subcategoryName }} </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-menu>
        </div>
      </ng-container>
    </mat-toolbar>
  </div>
</div>

<div>
  <mat-sidenav-container fxFlexFill class="mobile-menu">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item class="close-btn"><i class="fa-regular fa-circle-xmark"></i></a>
        <div class="container" *ngIf="viewMode === 'mobile'">
          <div class="container" *ngIf="categories.length > 0">
            <ng-container *ngFor="let category of categories.slice(0, 12)">
              <div class="menu-item-container">
                <button class="menu-items" mat-button [matMenuTriggerFor]="categoryMenu">{{ category.categoryName }} <i
                    class="fa-solid fa-angle-down"></i></button>
                <mat-menu #categoryMenu="matMenu" yPosition="below" class="customClass">
                  <div class="sub-menu-items-container" *ngIf="category">
                    <ng-container *ngFor="let subcategory of category.subcategories?.slice(0, 5)">
                      <div class="sub-menu-items"
                        [routerLink]="['/products', category.categoryCode, subcategory.subcategoryCode]"
                        (click)="sidenav.toggle()">
                        <div mat-menu-item class="subitem-heading">
                          <ul class="subitem-list p-0 m-0">
                            <li>
                              <span> - {{ subcategory.subcategoryName }} </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </mat-menu>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

<div>
  <mat-sidenav-container fxFlexFill class="mobile-menu">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item class="close-btn">
          <i class="fa-regular fa-circle-xmark"></i>
        </a>
        <div class="container" *ngIf="categories.length > 0">
          <mat-toolbar class="navbar">
            <div class="row">
              <ng-container *ngFor="let category of categories.slice(0, 12)">
                <div class="col-md-2 menu-item-container">
                  <button class="menu-items" mat-button [matMenuTriggerFor]="categoryMenu">{{ category.categoryName }}
                    <i class="fa-solid fa-angle-down"></i></button>
                  <mat-menu #categoryMenu="matMenu" yPosition="below" class="customClass">
                    <div class="sub-menu-items-container" *ngIf="category">
                      <ng-container *ngFor="let subcategory of category.subcategories?.slice(0, 5)">
                        <div class="sub-menu-items"
                          [routerLink]="['/products', category.categoryCode, subcategory.subcategoryCode]"
                          (click)="sidenav.toggle()">
                          <div mat-menu-item class="subitem-heading">
                            <ul class="subitem-list p-0 m-0">
                              <li>
                                <span> - {{ subcategory.subcategoryName }} </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </mat-menu>
                </div>
              </ng-container>
            </div>
          </mat-toolbar>
        </div>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
