/* insert-addresses.component.scss */
.required-text {
    color: red; /* Example color for the asterisk */
    margin-left: 3px; /* Adjust as needed for spacing */
  }
  
  .whitespace-error {
    color: red; /* Color for the whitespace error message */
    font-size: 0.9em; /* Adjust font size as needed */
  }
  