<div class="login-container">
  <div class="login-left">
    <h2>Login! 👋</h2>
    <form [formGroup]="loginForm">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email">
      <small class="text-danger error" *ngIf="isInvalid('email', 'required')">
        Email is required
      </small>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
      <small class="text-danger error" *ngIf="isInvalid('email', 'required')">
        Password is required
      </small>
      <button type="submit" class="btn btn-signin" [disabled]="loginForm.invalid" (click)="login()">Sign In</button>
    </form>
  </div>
</div>