<div class="category-banner mb-4">
    <div class="container h-100">
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="left">
                <div class="bredcrumb"><a href="#">Home</a> > <span>Terms and Conditions</span></div>
                <h3 class="category-name">Terms and Conditions</h3>
            </div>
            <div class="right h-100">
                <figure>
                    <img class="category-img mx-5" src="../../../../assets/images/privacy-policy/terms-conditions-icon.svg" alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="privacy-policy-container">
    <div class="container">
        <div class="cart-box">
            <h3>Definition</h3>
            <ul class="lower-latin">
                <li>
                    In these conditions "the Company" means Euro Mounts & Findings.
                </li>
                <li>'The Customer' means the person who accepts a quotation from the company for the sale of goods or services or whose order for goods or services is accepted by the Company.</li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>General Summary</h3>
            <ul class="decimal">
                <li>Minimum order value for goods supplied by post to UK customers is £20.00 inc. VAT.</li>
                <li>Payment for goods to be in cash or by cheque with a valid banker's card. We accept most major credit cards and debit cards.</li>
                <li>All postal sales must be paid for before dispatch of goods, unless a credit account is set up.</li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>Payment</h3>
            <ul class="lower-latin">
                <li>All prices quoted and invoiced by the Company are strictly nett.</li>
                <li>Unless otherwise agreed in writing, payment for all goods sold or services performed by the Company shall be due within 30 days after dispatch of the goods by the Company or performance of the services.</li>
                <li>
                    If any sum remains unpaid after the end of the month following that in which the goods or services to which it relates were dispatched or performed the customer shall pay a surcharge of £10.00 or 2.5% (whichever is the
                    greater) of current selling price (in the case of bullion this shall be based on the metal fix of the day payment was due) of the unpaid sum for each month or part of a month during which it remains unpaid as aforesaid.
                    Such surcharge shall be due for payment immediately on receipt of invoice by the customer and shall itself be liable to surcharge as above failing payment before the end of the month in which it is invoiced. The customer
                    shall pay all legal and other costs incurred by the Company in recovering overdue sums from the customer. Such costs shall be due for payment immediately on invoice.
                </li>
                <li>
                    Without prejudice to such other rights and remedies as it shall have the Company reserves the right, in the event of non-payment for goods sold or agreed to be sold by the Company to sue for the price thereof. The
                    Company will make a search with a credit agency, which will keep a record of that search and will share the information with other businesses. The Company may also make enquiries about the principal directors with a
                    credit reference agency.
                </li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>Delivery</h3>
            <ul class="lower-latin">
                <li>
                    The Company will use its best endeavours to comply with any delivery date or period agreed with the customer, but shall be under no liability for any delay in delivery caused or contributed to by any fire, accident,
                    breakdown, industrial dispute, difficulty in obtaining materials, war, force majeure or any other occurrence or circumstances whatsoever beyond the control of the Company.
                </li>
                <li>Any quoted or agreed delivery shall run from the date on which the customer's order is accepted by the Company.</li>
                <li>
                    If as the result of any occurrence mentioned in (a) above the Company shall be hindered or prevented from delivering all or any part of an order it may by written notice to the customer cancel the order or the
                    undelivered balance thereof without any liability to the customer in respect of such cancellation.
                </li>
                <li>
                    Any delay in delivery of goods which is excusable under this Condition shall be excused notwithstanding that goods of the same description may be available from another source for purchase by the Company for supply to
                    the customer.
                </li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>Quotation / Prices</h3>
            <ul class="lower-latin">
                <li>
                    The Company shall be entitled to withdraw any quotation at any time prior to the Company's Acceptance of an order. Unless otherwise stated in the quotation, every quotation shall lapse unless accepted within 7 days from
                    the date on which it was dispatched to the customer.
                </li>
                <li>
                    The Company establishes each day, by reference to the ruling market prices, standard selling prices for each metal according to the quantity and/or description of the metal or goods to be sold and the credit terms of
                    sale. Unless otherwise agreed, goods are sold by the Company on the condition that the price for each metal contained therein shall be the Company's relevant standard selling price so established on the date of dispatch
                    of the goods and all quoted prices for goods shall be subject to immediate payment by the customer.
                </li>
                <li>
                    Unless otherwise agreed in writing, any sum comprised included or referred to in the Company's quotation or acceptance of order (whether as a separate figure or otherwise) which represents a charge for anyone or more of
                    the Company's manufacturing processes to be carried out to or in connection with the goods or services to which such quotation or acceptance of order relates may after formation of the contract be increased by the
                    Company to take account of any increase in the cost of such processes whether arising from an increase in the cost of labour or raw material or otherwise subject however to such relevant legislation relating to prices as
                    shall from time to time be in force.
                </li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>Quality / Performances</h3>
            <ul class="lower-latin">
                <li>
                    The Company warrants that any goods sold or supplied hereunder:
                    <ul class="disc">
                        <li>shall be free from defects in workmanship or material</li>
                        <li>shall conform to any written specification expressly agreed by the Company to apply thereto, and</li>
                        <li>shall, in the case of precious metal, conform to the usual purities accepted by the trade as standard</li>
                    </ul>
                </li>
                <li>
                    Except as expressly provided by (a) above, all conditions and warranties, express or implied, as to the quality of any goods sold or their fitness for any particular purpose or their performance capability or otherwise
                    and whether arising by law, custom or any course of dealing are hereby excluded and the Company shall be under no liability whatsoever in respect of any loss, damage, liability or expense suffered or incurred by the
                    customer as a result of or in connection with the sale or supply of any goods or the performance of any service by the Company even if suffered or incurred in consequence of the negligence of the Company or its servants,
                    agents or sub contractors.
                </li>
                <li>
                    Tolerance on Weights and Dimensions:
                    <ul class="disc">
                        <li>where the customer has not specified otherwise, a tolerance of + or - 5% of the specified weight/dimension shall be applied.</li>
                    </ul>
                </li>
                <li>Diamond grades and colours are approximate and may vary by plus or minus 10% and two colours up or down.</li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>Damages</h3>
            <p>
                The Company's liability if any (whether in contract or in tort and including any liability involving negligence) shall in no circumstances exceed the price actually received by the Company for the goods or services in
                relation to which such liability shall have arisen provided as follows:
            </p>
            <ul class="disc">
                <li>in the case of goods which are defective or at variance with specification the Company may at its option discharge such liability by repairing or replacing the goods free of charge.</li>
                <li>The Company shall before replacing any goods under (i) above be entitled to the return of the goods which shall thereupon become the property of the Company.</li>
                <li>The Company shall not in any circumstances by liable for incidental or consequential loss or damage.</li>
                <li>
                    the Company shall be discharged from all liability in respect of goods which are defective or at variance with specification unless written notice of the defect or variance from specification shall be given to the
                    Company within 30 days after delivery of the goods to the customer.
                </li>
                <li>All quotes generated via the Company's web site are approximate and do not form part of any contract to supply. All internet orders are subject to price and weight fluctuations and are given as a guide only.</li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>Retention of Title</h3>
            <p>
                Notwithstanding delivery and the passing of risk in goods delivered to the Customer, or any other provisions of these terms and conditions, legal title in the goods supplied to the Customer by the Company ("Goods") shall not
                pass to the Customer until the Company has received in cash or cleared funds payment in full of the price of the Goods and all other goods agreed to be sold by the Company to the Customer for which payment is then due.
            </p>
            <p>
                Until such time as title in the Goods pass to the Customer, the Customer shall hold the Goods as the Company's fiduciary agent and bailee and shall keep the Goods separate from those of the Customer and third parties and
                properly stored protected and insured and identified as the Company's property but the Customer may resell or use the Goods in the ordinary course of business.
            </p>
            <p>
                Until such time as title in the Goods passes to the Customer (and provided the Goods are still in existence and have not been resold), the Company may at any time require the Customer to deliver up the Goods to the Company
                and, if the Customer fails to do so, forthwith, may enter on any premises of the Customer or any third party where the Goods are stored to repossess the Goods.
            </p>
            <p>
                The Customer shall not be entitled to pledge or in any way charge by way of security for any indebtedness any of the Goods which remain the property of the Company, but if the Customer does so all monies owing by the
                Customer to the Company shall (without limiting any other right or remedy of the Company) forthwith become due and payable.
            </p>
        </div>
        <div class="cart-box">
            <h3>Set-off</h3>
            <ul class="lower-latin">
                <li>
                    The Company may at any time without notice to the customer set-off any liability of the customer to the Company against any liability of the Company to the customer whether the liability of the customer or the Company
                    shall be actual or contingent primary or collateral or joint or several and whether expresses as a liability to pay money or a liability to deliver or transfer metal (other than metal appropriated to the customer).
                </li>
                <li>
                    For the purpose of setting off a liability to pay money against a liability to deliver or transfer metal or a liability to deliver or transfer metal of one kind against a liability to deliver or transfer metal to another
                    kind, the Company may at any time without notice to the customer convert any liability of the Company or the customer to deliver or transfer metal into a liability to pay the market value of the metal in pounds sterling
                    as at the date when the Company elects to make such conversion.
                </li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>Suspension / Cancellation</h3>
            <ul class="lower-latin">
                <li>
                    Without prejudice to any other available remedy the Company may, if the customer is in default in making any payment due to the Company (whether under the same contract or otherwise) or to any other wholly-owned
                    subsidiary of the Company suspend further transfer or delivery of goods or performance of services so long as such default continues or at its option, cancel any outstanding order or the undelivered balance thereof,
                    without any liability to the customer in respect of such suspension or cancellation, and the customer shall indemnify the Company against any loss, damage, liability or expense suffered or incurred by reason of such
                    suspension or cancellation, including but not limited to precious metal leasing costs based on daily market rates and inventory storage costs. Payment for such loss, damage, liability or expense shall be due within 48
                    hours of date of invoice for same.
                </li>
                <li>
                    The customer shall not be entitled to cancel any order placed with the Company or to require the Company to suspend or defer any delivery to the customer under any such order except with the written consent of the
                    Company and upon such terms as the Company shall attach to such consent.
                </li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>No Assignment</h3>
            <p>
                No contract entered into by the customer with the Company and no liability of the Company to transfer or deliver metal to the customer shall be assigned by the customer without the written consent of the Company which the
                Company may give or withhold in its absolute discretion.
            </p>
        </div>
        <div class="cart-box">
            <h3>Property / Risk / Transit</h3>
            <ul class="lower-latin">
                <li>All goods sold by the Company shall remain the property of the Company until payment of the price in full.</li>
                <li>
                    The goods shall be at the sole risk of the customer from the time at which they are delivered to the customer or carrier at the agreed place of delivery (whether the carriage is arranged or paid for by the Company or the
                    customer). Unless otherwise agreed in writing the agreed place of delivery shall be deemed to be the premises of the Company.
                </li>
                <li>
                    The Company shall not in any circumstances be liable for loss or damage to goods in transit to the customer unless:
                    <ul class="disc">
                        <li>the Company has agreed to deliver the goods at a place other than the premises of the Company and the loss or damage occurs before the goods arrive as such place and:</li>
                        <li>any damage or shortage is reported in writing to the Company and the carrier within seven days after delivery; and</li>
                        <li>in the case of a total loss the customer gives written notice to the Company of the nonarrival of the goods within a reasonable period (not exceeding two weeks) after receipt of the company's invoice.</li>
                    </ul>
                </li>
                <li>
                    Goods sold by the Company and returned by the customer to the Company shall be at the sole risk of the customer until such goods shall have come into custody of the Company at the premises of the Company where (having
                    regard to the nature of the goods and the reason for their return) the goods will be unpacked and or inspected. This paragraph shall apply notwithstanding that the goods shall come into the possession or custody of the
                    Company at some earlier time, whether by collection or otherwise.
                </li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>Tools</h3>
            <p>
                Unless otherwise agreed by the Company in writing, all tools, dies, patterns and other items made by the Company for the execution of the customer's orders shall remain the property of the Company notwithstanding any charge
                made to the customer in respect thereof.
            </p>
        </div>
        <div class="cart-box">
            <h3>Patents</h3>
            <p>
                To the best of the Company's knowledge goods sold to the customer will not infringe any patent, trade mark, registered design or copyright of any third party but the Company shall in no circumstance be liable to the customer
                in respect of any such infringement.
            </p>
        </div>
        <div class="cart-box">
            <h3>General</h3>
            <ul class="lower-latin">
                <li>Unless otherwise agreed in writing, the customer shall be bound to accept over-runs or under-runs not exceeding five per cent of the quantity ordered.</li>
                <li>Unless otherwise agreed in writing, goods are sold to manufacturing tolerances customarily accepted in the trade.</li>
            </ul>
        </div>
        <div class="cart-box">
            <h3>Proper Law</h3>
            <p>Unless otherwise agreed in writing, any contract between the Company and the customer shall be governed by English law.</p>
        </div>
    </div>
</div>
