<div class="content">
    <div class="header">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <h3 class="m-0">Change Password</h3>
        </div>
    </div>
    <div class="p-4 align-items-center">
        <form [formGroup]="changePasswordForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label>Email<span class="required-text">*</span></label>
                        <input type="email" class="form-control" formControlName="email" readonly>
                        <small class="text-danger error" *ngIf="isInvalid('email', 'required')">
                            Email is required
                        </small>
                        <small class="text-danger error" *ngIf="isInvalid('email', 'pattern')">
                            Please enter a valid email address
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label>Current Password<span class="required-text">*</span></label>
                        <input type="password" formControlName="currentPassword" id="currentPassword"
                            class="form-control mb-3" placeholder="Enter Current Password" />
                        <small class="text-danger error" *ngIf="isInvalid('currentPassword', 'required')">
                            Current Password is required
                        </small>
                        <small class="text-danger error" *ngIf="isInvalid('email', 'pattern')">
                            Please enter a valid email address
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label>New Password<span class="required-text">*</span></label>
                        <input type="password" formControlName="newPassword" id="newPassword" class="form-control mb-3"
                            placeholder="Enter New Password" />
                        <small class="text-danger error" *ngIf="isInvalid('newPassword', 'required')">
                            New Password is required
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label>Confirm New Password<span class="required-text">*</span></label>
                        <input type="password" formControlName="confirmNewPassword" id="confirmNewPassword"
                            class="form-control mb-3" placeholder="Confirm New Password" />
                        <small class="text-danger error" *ngIf="isInvalid('confirmNewPassword', 'required')">
                            Confirm Password is required
                        </small>
                    </div>
                </div>
            </div>


            <div class="button-container">
                <button (click)="changePassword()" class="btns-primary sm-btn">Change Password</button>
            </div>
        </form>
    </div>
</div>