<div class="category-banner mb-4">
  <div class="container h-100">
    <div class="d-flex justify-content-between align-items-center h-100">
      <div class="left">
        <div class="bredcrumb">
          <a [routerLink]="['/admin/dashboard']">Dashboard</a> > <span>Admin</span>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
<div class="container account-forms edit-account-forms pb-5 pt-2">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title" [routerLink]="['/admin/users']">User Management</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Setup Popular Items</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Banner Managment</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>