<div class="category-banner mb-4">
    <div class="container h-100">
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="left">
                <div class="bredcrumb">
                    <a href="#">Home</a> > <span>Tubing Weight Data</span>
                </div>
                <h2 class="category-name">Tubing Weight Data</h2>
            </div>
            <div class="right h-100">
                <figure>
                    <img class="category-img mx-5" src="../../../../assets/images/svg-icons/sheet-data-icon.svg"
                        alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="info-data-container-whitout-rowspan">
    <div class="container">
        <div>
            <div class="top-text"><p>Where a section of the table is blank, we do not hold the metal as a stock item. We can sometimes obtain a
                specific size to order, but a minimum quantity may apply.
                * = Items marked with an asterisk indicate gauges that are not held in stock, however, we may be able to
                order the same day.</p></div>
            
                <div class="table-responsive-outer">
                    <div class="table-responsive">
                        <table border="1" class="table align-middle table-bordered">
                                <tr class="top-th">
                                    <th class="text-center" colspan="2">Tubing / Chenier Diameter</th>
                                    <th class="text-center">Sterling Silver Round</th>
                                    <th class="text-center">9ct Yellow Round</th>
                                    <th class="text-center">18ct Yellow Round</th>
                                    <th class="text-center">18ct Yellow Square</th>
                                    <th class="text-center">18ct White Round</th>
                                    <th class="text-center">18ct White Square</th>
                                    <th class="text-center">Platinum Round</th>
                                </tr>
                                <tr>
                                    <th class="text-center">Outside</th>
                                    <th class="text-center">Inside</th>
                                    <th class="text-center">g per foot</th>
                                    <th class="text-center">g per foot</th>
                                    <th class="text-center">g per foot</th>
                                    <th class="text-center">g per foot</th>
                                    <th class="text-center">g per foot</th>
                                    <th class="text-center">g per foot</th>
                                    <th class="text-center">g per foot</th>
                                    
                                </tr>
                            <tbody>
                                <tr>
                                    <td>1.0 mm</td>
                                    <td>0.65 mm</td>
                                    <td>1.0</td>
                                    <td>1.5</td>
                                    <td>2.1</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    
                                </tr>
                                <tr>
                                    <td>1.2 mm</td>
                                    <td>0.8 mm</td>
                                    <td>2.0</td>
                                    <td>2.1</td>
                                    <td>2.9</td>
                                    <td>-</td>
                                    <td>3.1</td>
                                    <td>-</td>
                                    <td>-</td>
                                   
                                </tr>
                                <tr>
                                    <td>1.4 mm</td>
                                    <td>0.9 mm</td>
                                    <td>3.0</td>
                                    <td>3.0</td>
                                    <td>4.2</td>
                                    <td>-</td>
                                    <td>4.4</td>
                                    <td>-</td>
                                    <td>-</td>
                                  
                                </tr>
                                <tr>
                                    <td>1.6 mm</td>
                                    <td>1.0 mm</td>
                                    <td>4.0</td>
                                    <td>4.1</td>
                                    <td>5.7</td>
                                    <td>-</td>
                                    <td>6.0</td>
                                    <td>-</td>
                                    <td>-</td>
                                    
                                </tr>
                                <tr>
                                    <td>1.8 mm</td>
                                    <td>1.2 mm</td>
                                    <td>4.0</td>
                                    <td>4.8</td>
                                    <td>6.6</td>
                                    <td>-</td>
                                    <td>6.9</td>
                                    <td>-</td>
                                    <td>-</td>
                                    
                                </tr>
                                <tr>
                                    <td>2.0 mm</td>
                                    <td>1.3 mm</td>
                                    <td>6.0</td>
                                    <td>6.1</td>
                                    <td>8.4</td>
                                    <td>-</td>
                                    <td>8.8</td>
                                    <td>-</td>
                                    <td>-</td>
                                    
                                </tr>
                                <tr>
                                    <td>2.2 mm</td>
                                    <td>1.4 mm</td>
                                    <td>7.0</td>
                                    <td>7.6</td>
                                    <td>10.5</td>
                                    <td>-</td>
                                    <td>11.0</td>
                                    <td>-</td>
                                    <td>-</td>
                                    
                                </tr>
                                
                                <tr>
                                    <td colspan="9" class="text-start">Dimensions marked with "Sq." indicates square shaped tube / chenier.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="product-notes">
                    <p class="m-0">
                        <strong>Note:</strong> that all given weights, sizes and calculations are for guidance only.
                    </p>
                </div>
        </div>
    </div>
</div>