<div class="category-banner mb-4">
    <div class="container h-100">
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="left">
                <div class="bredcrumb">
                    <a href="#">Home</a> > <a routerLink="['info']">Information Centre</a>
                </div>
                <h2 class="category-name">Information Centre</h2>
            </div>
            <!-- <span class="close-icon" (click)="closePopup()">&#10006;</span> -->
            <div class="right h-100">
                <figure>
                    <img class="category-img mx-5"
                        src="../../../../assets/images/svg-icons/sheet-data-icon.svg" alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="info-center-container">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="cart-box">
            <h3>Bullion Weight Data Sheets</h3>
            <ul>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['sheet-data']">Sheet Weight Data</a></li>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['round-wire-data']">Round Wire Weight Data</a></li>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['square-wire-data']">Square Wire Weight Data</a></li>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['d-wire-data']">D-Shape Wire Weight Data</a></li>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['tubing-data']">Tubing Weight Data</a></li>
            </ul>
        </div>
        </div>
        <div class="col-md-4">
            <div class="cart-box">
            <h3>Measurement Information</h3>
            <ul>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['soldering-data']">Soldering Melting Temperatures</a></li>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['measurement-conversions']">Measurement Conversions</a></li>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['stone-size-data']">Stone Size Measurements</a></li>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['finger-size-data']">Finger Size Measurements</a></li>
            </ul>
        </div>
        </div>
        <div class="col-md-4">
            <div class="cart-box">
            <h3>Calculators</h3>
            <ul>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['bullion-weight-calculator']">Bullion Weight Calculator</a></li>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['measurement-weight-calculator']">Measurement Weight Calculator</a></li>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['stone-size-calculator']">Stone Size Calculator</a></li>
                <li><i class="fa-solid fa-angles-right"></i> <a [routerLink]="['finger-size-calculator']">Finger Size Calculator</a></li>
            </ul>
        </div>
        </div>
    </div>
</div>
</div>