<div class="category-banner mb-4">
    <div class="container h-100">
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="left">
                <div class="bredcrumb">
                    <a href="#">Home</a> > <a (click)="openInfoPopup()">Information Center</a> > <span>Solder Melting Temperatures</span>
                </div>
                <h2 class="category-name">Solder Melting Temperatures</h2>
            </div>
            <div class="right h-100">
                <figure>
                    <img class="category-img mx-5" src="../../../../assets/images/svg-icons/sheet-data-icon.svg"
                        alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="info-data-container">
    <div class="container">
        <h3><span>2g Solder Panels:</span> Melting Temperature Ranges</h3>
        <div class="table-responsive-outer">
            <div class="table-responsive">
                <table border="1" class="table align-middle table-bordered">
                    <thead>
                        <tr class="top-th">
                            <th rowspan="2">Grade</th>
                            <th rowspan="2">Low Carat</th>
                            <th rowspan="2">9ct Yellow</th>
                            <th rowspan="2">9ct White</th>
                            <th rowspan="2">9ct Red</th>
                            <th rowspan="2">14ct Yellow</th>
                            <th rowspan="2">18ct Yellow</th>
                            <th rowspan="2">18ct White</th>
                            <th rowspan="2">18ct Red</th>
                            <th rowspan="2">22ct Yellow</th>
                            <th rowspan="2">Platinum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Extra Easy</td>
                            <td>630 ~ 660ºc</td>
                            <td>620 ~ 690ºc</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>935 ~ 955ºc</td>
                        </tr>
                        <tr>
                            <td>Easy</td>
                            <td>-</td>
                            <td>650 ~ 720ºc</td>
                            <td>-</td>
                            <td>-</td>
                            <td>710 ~ 730ºc</td>
                            <td>700 ~ 715ºc</td>
                            <td>690 ~ 710ºc</td>
                            <td>-</td>
                            <td>865 ~ 900ºc</td>
                            <td>1010 ~ 1029ºc</td>
                        </tr>
                        <tr>
                            <td>Medium</td>
                            <td>-</td>
                            <td>735 ~ 755ºc</td>
                            <td>735 ~ 755ºc</td>
                            <td>685 ~ 790ºc</td>
                            <td>-</td>
                            <td>730 ~ 765ºc</td>
                            <td>705 ~ 720ºc</td>
                            <td>805 ~ 810ºc</td>
                            <td>-</td>
                            <td>1179 ~ 1217ºc</td>
                        </tr>
                        <tr>
                            <td>Hard</td>
                            <td>-</td>
                            <td>755 ~ 795ºc</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>790 ~ 830ºc</td>
                            <td>855 ~ 885ºc</td>
                            <td>-</td>
                            <td>-</td>
                            <td>1422 ~ 1445ºc</td>
                        </tr>
                        <tr>
                            <td>Extra Hard</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>1700ºc</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h3><span>Silver:</span> Solder Strips</h3>
        <div class="table-responsive-outer">
            <div class="table-responsive">
                <table border="1" class="table align-middle table-bordered">
                    <thead>
                        <tr class="top-th">
                            <th rowspan="2">Grade</th>
                            <th>Melt Temperature Range</th>
                            <th>Approx. Weight per Strip</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Extra Easy</td>
                            <td>667 ~ 709ºc</td>
                            <td>5.0g</td>
                        </tr>
                        <tr>
                            <td>Easy</td>
                            <td>705 ~ 723ºc</td>
                            <td>9.0g</td>
                        </tr>
                        <tr>
                            <td>Medium</td>
                            <td>720 ~ 765ºc</td>
                            <td>6.0g</td>
                        </tr>
                        <tr>
                            <td>Hard</td>
                            <td>745 ~ 778ºc</td>
                            <td>9.0g</td>
                        </tr>
                        <tr>
                            <td>Enammelling</td>
                            <td>730 ~ 800ºc</td>
                            <td>8.0g</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h3><span>Solder Wire/ Paste:</span> Melting Temperature Ranges</h3>
        <div class="table-responsive-outer">
            <div class="table-responsive">
                <table border="1" class="table align-middle table-bordered">
                    <thead>
                        <tr class="top-th">
                            <th rowspan="2">Grade</th>
                            <th>Silver Wire</th>
                            <th>Silver - 30g Tube</th>
                            <th>9ct Yellow Wire</th>
                            <th>9ct Yellow - 3g Tube</th>
                            <th>18ct Yellow Wire</th>
                            <th>18ct Yellow - 3g Tube</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Easy</td>
                            <td>705 ~ 723ºc</td>
                            <td>705 ~ 723ºc</td>
                            <td>650 ~ 720ºc</td>
                            <td>700ºc</td>
                            <td>700 ~ 715ºc</td>
                            <td>735ºc</td>
                        </tr>
                        <tr>
                            <td>Medium</td>
                            <td>-</td>
                            <td>-</td>
                            <td>735 ~ 755ºc</td>
                            <td>720ºc</td>
                            <td>730 ~ 765ºc</td>
                            <td>763ºc</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="product-notes">
            <p class="m-0"><strong>Note:</strong> that all given weights, sizes and calculations are for guidance
                only.
            </p>
        </div>
    </div>
</div>