<div class="category-banner mb-4">
    <div class="container h-100">
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="left">
                <div class="bredcrumb">
                    <a href="#">Home</a> > <span>Security & Privacy Policy</span>
                </div>
                <h2 class="category-name">Security & Privacy Policy</h2>
            </div>
            <div class="right h-100">
                <figure>
                    <img class="category-img mx-5"
                        src="../../../../assets/images/privacy-policy/privacy-policy-icon.svg" alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="privacy-policy-container">
    <div class="container">
        <div class="top-text">
        <p>We at Euro Mounts & Findings are committed to keeping your privacy protected. All information we collect about you is only used to provide you with an easy and efficient experience whilst visiting and ordering via our website.
        </p>
    </div>
        <div class="cart-box">

            <h3>What information do we collect and what is it used for?</h3>
            <p>Euro Mounts & Findings has a jewellery trade only policy, to enforce this we require to collect a basic
                set of details for identification.</p>
            <p>
                These details include: Name, Company Name, Euro Mounts & Findings Account Number, Address, Email
                Address, Phone/Fax Number and at least one valid trade reference. Furthermore we keep details of
                customers wishing to
                receive any newsletters and promotions; this option is available in the Customer Account area.
            </p>
            <p>
                We track and monitor website visitor traffic for statistical analysis to enhance the layout and design
                of our website.</p>
        </div>
        <div class="cart-box">
            <h3>Is my online card payment safe?</h3>
            <p>We do not currently support online credit card payments, all customers wishing to pay via credit card
                shall be contacted by phone at time of the order being processed.</p>
        </div>
        <div class="cart-box">
            <h3>Does the Euro Mounts & Findings website use Cookies?</h3>
            <p>Our website uses cookies for storing your login details to prevent you having to login every visit to
                view pricing.</p>
            <p>If you disable cookies, you can continue to browse and shop on our website, however, our login "Remember
                Me" feature will not store you login details next time you visit our website.</p>
        </div>
        <div class="cart-box">
            <h3>Will any of my personal details be sold/distributed to a third party company?</h3>
            <p>Euro Mounts & Findings does not share any of our customer’s personal details with any other third party
                company.</p>
        </div>
    </div>
</div>